<div class='col-lg-6'>
  <div class='well'>

  <%= form_for @comic do |c|%>
  <!-- WRITE THE CORRECT FORM HEADER AND BLOCK USING ERB -->
    <% if @comic.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comic.errors.count, "error") %> prohibited this comic from being saved:</h2>

        <ul>
        <% @comic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= c.label :title %>
      <%= c.text_field :title, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= c.label :description %>
      <%= c.text_field :description, size:40, class: 'form-control'%>      
    </div>
    <div class="form-group">
      <%= c.label :image %>
      <%= c.text_field :image, class: 'form-control'%>   
   
    </div>
    <div class="actions">
      <%= c.submit class: 'btn btn-primary'%>
    </div>

  <% end %>
  </div>
</div>
